<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>虚拟机概况</title>
    <link href="/static/component/step-lay/step.css" rel="stylesheet">
</head>
<body>
<div style="padding: 2px">
    <div class="layui-card">
        <div class="layui-card-body">
            <table
                    class="layui-hide"
                    id="ledger-table"
                    lay-filter="ledger-table"
            ></table>
        </div>
    </div>
</div>
<form
        class="layui-form layui-form-pane layui-btn-sm "
        lay-filter="ledger-form"
        id="ledger-form"
        action=""
        style="padding: 15px; display: none"
>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="id"
                    value="0"
                    lay-verify="required"
                    autocomplete="off"
                    class="layui-input"
                    disabled
            />
        </div>
    </div>
    <div class="layui-form-item layui-col-md9">
        <label class="layui-form-label">主机名</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="hostname"
                    placeholder="请输入主机名"
                    lay-verify="required"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">综合网IP</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="ip1"
                    placeholder="请输入综合网IP地址"
                    lay-verify="ip"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
        <label class="layui-form-label">数据网IP</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="ip2"
                    placeholder="请输入数据网IP地址"
                    lay-verify="required|ip"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">存储网IP</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="ip3"
                    placeholder="请输入存储网IP地址"
                    lay-verify="required|ip"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
        <label class="layui-form-label">其他IP</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="ip4"
                    placeholder="请输入其他IP地址"
                    lay-verify="required|ip"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item layui-col-md9">
        <label class="layui-form-label">应用服务名</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="app_name"
                    placeholder="请输入应用服务名"
                    lay-verify="required"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">厂商</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="app_vendors"
                    placeholder="请输入厂商"
                    lay-verify="required"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
        <label class="layui-form-label">负责人</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="app_owner"
                    placeholder="请输入负责人"
                    lay-verify="required"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
    </div>
    <div class="layui-form-item layui-col-md9">
        <label class="layui-form-label">业务内容</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="app_dest"
                    placeholder="请输入业务内容"
                    lay-verify="required"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea
                    type="text"
                    placeholder="请输入内容"
                    class="layui-textarea"
                    name="remark"
            ></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline layui-input-wrap">
            <input
                    type="text"
                    name="create_at"
                    class="layui-input"
                    id="form_create_at"
                    placeholder="yyyy-MM-dd HH:mm:ss"
                    autocomplete="off"
                    lay-verify="required"
            />
        </div>
    </div>
    <div class="layui-form-item  layui-col-md-offset3">
        <div class="layui-input-block">
            <button
                    type="submit"
                    class="layui-btn"
                    lay-submit
                    lay-filter="ledger-form-btn"
            >
                确定
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/html" id="ledger-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-primary  layui-btn-sm" lay-event="ledger-toolbar-add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
        <button class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm " lay-event="ledger-toolbar-edit">
            <i class="layui-icon layui-icon-edit"></i>
            编辑
        </button>
        <button class="layui-btn  layui-btn-primary layui-border-red layui-btn-sm" lay-event="ledger-toolbar-del">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
        <button class="layui-btn  layui-btn-primary layui-border-orange layui-btn-sm" lay-event="ledger-toolbar-import">
            <i class="layui-icon layui-icon-upload"></i>
            导入
        </button>
    </div>
</script>
<script type="text/html" id="ledger-tool">
    <div class="layui-btn-container">
        <button
                class="layui-btn layui-btn-xs layui-bg-blue"
                lay-event="ledger-tool-edit"
        >
            <i class="layui-icon layui-icon-edit"></i>
        </button>
        <button
                class="layui-btn layui-btn-xs layui-bg-red"
                lay-event="ledger-tool-del"
        >
            <i class="layui-icon layui-icon-delete"></i>
        </button>
    </div>
</script>

<form
        class="layui-form layui-form-pane layui-btn-sm"
        lay-filter="ledger-form-upload"
        id="ledger-form-upload"
        action=""
        style="padding: 15px; display: none"
>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding-top: 40px;">
                <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                    <div carousel-item>
                        <div>
                            <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                <div class="layui-upload">
                                    <div class="layui-upload-drag"
                                         style="height: 150px;display: flex;align-items: center;justify-content: center;flex-direction: column"
                                         id="ID-upload-demo-files">
                                        <i class="layui-icon layui-icon-upload"></i>

                                        <div class="layui-font-14"><br>点击上传或将文件拖拽到此处</div>
                                    </div>
                                    <div class="layui-upload-list">
                                        <table class="layui-table">
                                            <colgroup>
                                                <col style="min-width: 100px;">
                                                <col width="150">
                                                <col width="260">
                                                <col width="150">
                                            </colgroup>
                                            <thead>
                                            <th>文件名</th>
                                            <th>大小</th>
                                            <th>上传进度</th>
                                            <th>操作</th>
                                            </thead>
                                            <tbody id="ID-upload-demo-files-list"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-row layui-col-space4 layui-margin-4">
                                        <div style="text-align:center">
                                            <!--                                            <div class="grid-demo grid-demo-bg1">-->
                                            <button class="layui-btn" lay-submit lay-filter="formStep">
                                                &emsp;下一步&emsp;
                                            </button>
                                            <button type="button" class="layui-btn"
                                                    id="ID-upload-demo-files-action">开始上传
                                            </button>
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <table
                                    id="ledger—impost-table"
                                    lay-filter="ledger—impost-table"
                            ></table>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                    <button class="layui-btn" lay-submit lay-filter="formStep2">
                                        &emsp;确认入款&emsp;
                                    </button>
                                </div>
                            </div>
</form>
</div>
<div>
    <div style="text-align: center;margin-top: 90px;">
        <i class="layui-icon layui-circle"
           style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
        <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
            入款成功
        </div>
        <div style="font-size: 14px;color: #666;margin-top: 20px;">预计两小时到账</div>
    </div>
    <div style="text-align: center;margin-top: 50px;">
        <button class="layui-btn next">再入一笔</button>
        <button class="layui-btn layui-btn-primary">查看账单</button>
    </div>
</div>
</div>
</div>
<hr>
<div style="color: #666;margin-top: 5px;margin-bottom: 5px;padding-left: 30px;">
    <h3>说明</h3><br>
    <h4>入款到保险箱</h4>
    <p>如果需要，这里可以放一些关于产品的常见问题说明。</p>
</div>
</div>
</div>
</div>

</form>

<script src="/static/component/step-lay/step.js"></script>

<script>
    layui.config({
        base: '/static/component/step-lay/'
    }).use(function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var element = layui.element;
        var step = layui.step


        table.render({
            elem: "#ledger-table",
            id: "ledger-table",
            url: "/api/v1/ledger", // 此处为静态模拟数据，实际使用时需换成真实接口
            height: "full-90", // 最大高度减去其他容器已占有的高度差
            toolbar: "#ledger-toolbar",
            size: "sm",
            defaultToolbar: ['filter', {
                title: '导出xlsx',
                layEvent: 'uploadsfile',
                icon: 'layui-icon-export'
            }, 'print'],
            page: true,
            cols: [
                [
                    //标题栏
                    {type: 'checkbox', fixed: 'left', width: 30},
                    {field: "id", title: "ID", width: 80, sort: true, hide: true, fixed: 'left'},
                    {field: "nus", title: "序号", width: 45, type: "numbers", fixed: "left", align: "center"},
                    {field: "hostname", title: "主机名", width: 120, sort: true, fixed: "left", align: "center"},
                    {field: "ip1", title: "综合网IP地址", width: 120, sort: true, align: "center"},
                    {field: "ip2", title: "数据网IP地址", width: 160, sort: true, align: "center"},
                    {field: "ip3", title: "存储网IP地址", width: 160, sort: true, align: "center"},
                    {field: "ip4", title: "其他IP地址", width: 160, align: "center"},
                    {field: "app_name", title: "应用服务名", width: 160, align: "center"},
                    {field: "app_vendors", title: "厂商", width: 160, sort: true, align: "center"},
                    {field: "app_owner", title: "负责人", width: 160, sort: true, align: "center"},
                    {field: "app_dest", title: "业务内容", width: 160, align: "center"},
                    {field: "remark", title: "备注", width: 160, align: "center"},
                    {field: "create_at", title: "创建时间", width: 180, sort: true, align: "center"},
                    {
                        fixed: "right",
                        title: "操作",
                        width: 120,
                        align: "center",
                        toolbar: "#ledger-tool",
                    },
                ],
            ],
        });

        table.render({
            elem: "#ledger-impost-table",
            id: "ledger-impost-table",
            url: "/api/v1/imposttable", // 此处为静态模拟数据，实际使用时需换成真实接口
            height: "full-90", // 最大高度减去其他容器已占有的高度差
            size: "sm",
            cols: [
                [
                    //标题栏
                    {type: 'checkbox', fixed: 'left', width: 30},
                    {field: "id", title: "ID", width: 80, sort: true, hide: true, fixed: 'left'},
                    {field: "nus", title: "序号", width: 45, type: "numbers", fixed: "left", align: "center"},
                    {field: "hostname", title: "主机名", width: 120, sort: true, fixed: "left", align: "center"},
                    {field: "ip1", title: "综合网IP地址", width: 120, sort: true, align: "center"},
                    {field: "ip2", title: "数据网IP地址", width: 160, sort: true, align: "center"},
                    {field: "ip3", title: "存储网IP地址", width: 160, sort: true, align: "center"},
                    {field: "ip4", title: "其他IP地址", width: 160, align: "center"},
                    {field: "app_name", title: "应用服务名", width: 160, align: "center"},
                    {field: "app_vendors", title: "厂商", width: 160, sort: true, align: "center"},
                    {field: "app_owner", title: "负责人", width: 160, sort: true, align: "center"},
                    {field: "app_dest", title: "业务内容", width: 160, align: "center"},
                    {field: "remark", title: "备注", width: 160, align: "center"},
                    {field: "create_at", title: "创建时间", width: 180, sort: true, align: "center"},
                    {field: "right", title: "状态", width: 180, sort: true, align: "center"},

                ],
            ],
        });

        table.on("toolbar(ledger-table)", function (obj) {
            if (obj.event === "ledger-toolbar-add") {
                $("#ledger-form")[0].reset();
                layer.open({
                    type: 1,
                    shade: false,
                    title: '新增虚拟机数据',
                    content: $("#ledger-form"),
                    area: ["60%", "80%"],
                });
                form.render($("#ledger-form"));
            } else if (obj.event === "uploadsfile") {
                $.ajax({

                    type: "get",
                    url: '/api/v1/ledger',
                    dataType: "json",
                    success: function (res) {
                        console.log("Error:", res);
                        if (res.code == 0) {
                            /* layer.msg('默认模板说明下载到桌面成功',{icon:6,time:1000},function(){
                               //刷新本页面
                           //location.reload();
                             }); */
                            //导出文档流程思路：应该是先导出到服务器内部，然后再通过访问链接的形式下载导出的文档
                            layer.confirm('请问是否确定下载？', {
                                btn: ['下载', '取消'] //可以无限个按钮
                            }, function (index, layero) {
                                //res.fileUrl路径
                                window.location.href = "http://localhost:5000/api/v1/exportfile";
                                //点击按钮下载服务器内的文本
                                // window.location.href="域名"+"文件的路径";
                                //关闭弹出框
                                layer.close(index);

                            }, function (index) {
                                //取消按钮
                            });

                        } else if (res.code == 5) {
                            layer.msg('模板说明下载失败', {icon: 5, time: 1000}, function () {
                                //刷新本页面
                                //location.reload();
                            });
                        }
                    },
                    error: function () {
                        layer.msg('下载模板说明出现异常');
                    }
                });
            } else if (obj.event === "ledger-toolbar-import") {
                layer.open({
                    type: 1,
                    shade: false,
                    title: '导入虚拟机数据',
                    content: $("#ledger-form-upload"),
                    area: ["68.5%", "84%"],
                });
                form.render($("#ledger-form-upload"));
            }
        });

        table.on("tool(ledger-table)", function (obj) {
            if (obj.event === "ledger-tool-edit") {
                form.val("ledger-form", obj.data);
                layer.open({
                    type: 1,
                    shade: false,
                    content: $("#ledger-form"),
                    area: ["60%", "80%"],
                });
            } else if (obj.event === "ledger-tool-del") {
                $.ajax({
                    url: `/api/v1/ledger/${obj.data.id}`,
                    type: "DELETE",
                    contentType: "application/json",
                    headers: {
                        "X-CSRF-TOKEN": getCookie("csrf_access_token"),
                    },
                    success: function (res) {
                        if (!res.code) {
                            table.reloadData("ledger-table");
                            form.render($("#ledger-form"));
                        }
                    },
                });
            }
        });
        // 自定义IP验证规则

        form.verify({
            ip: function (value, elem) {
                const rule = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
                if (!rule.test(value)) {
                    return 'IP地址不符合规则';
                }
            }
        });
        form.on("submit(ledger-form-btn)", function (data) {
            var field = data.field;
            let method, url;
            if (field.id == 0) {
                field.id = null;
                method = "POST";
                url = "/api/v1/ledger";
            } else {
                method = "PUT";
                url = `/api/v1/ledger/${field.id}`;
            }
            $.ajax({
                url: url,
                type: method,
                contentType: "application/json",
                headers: {
                    "X-CSRF-TOKEN": getCookie("csrf_access_token"),
                },
                data: JSON.stringify(field),
                success: function (res) {
                    if (!res.code) {
                        layer.closeAll();
                        table.reloadData("ledger-table");
                    }
                },
            });
            return false;
        });

        // form_create_at
        laydate.render({
            elem: "#form_create_at",
            type: "datetime",
        });
        // 制作多文件上传表格
        var uploadListIns = upload.render({
            elem: '#ID-upload-demo-files',
            elemList: $('#ID-upload-demo-files-list'), // 列表元素对象
            url: '/api/v1/importfile', // 实际使用时改成您自己的上传接口即可。
            accept: 'file',
            multiple: true,
            number: 3,
            auto: false,
            bindAction: '#ID-upload-demo-files-action',
            choose: function (obj) {
                var that = this;
                var files = this.files = obj.pushFile(); // 将每次选择的文件追加到文件队列
                // 读取本地文件
                obj.preview(function (index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">',
                        '<td>' + file.name + '</td>',
                        '<td>' + (file.size / 1024).toFixed(1) + 'kb</td>',
                        '<td><div class="layui-progress" lay-filter="progress-demo-' + index + '"><div class="layui-progress-bar" lay-percent=""></div></div></td>',
                        '<td>',
                        '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>',
                        '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>',
                        '</td>',
                        '</tr>'].join(''));

                    // 单个重传
                    tr.find('.demo-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    // 删除
                    tr.find('.demo-delete').on('click', function () {
                        delete files[index]; // 删除对应的文件
                        tr.remove(); // 删除表格行
                        // 清空 input file 值，以免删除后出现同名文件不可选
                        uploadListIns.config.elem.next()[0].value = '';
                    });

                    that.elemList.append(tr);
                    element.render('progress'); // 渲染新加的进度条组件
                });
            },
            done: function (res, index, upload) { // 成功的回调
                var that = this;
                // if(res.code == 0){ // 上传成功
                var tr = that.elemList.find('tr#upload-' + index)
                var tds = tr.children();
                tds.eq(3).html(''); // 清空操作
                delete this.files[index]; // 删除文件队列已经上传成功的文件
                return;
                //}
                this.error(index, upload);
            },
            allDone: function (obj) { // 多文件上传完毕后的状态回调
                console.log(obj)
            },
            error: function (index, upload) { // 错误回调
                var that = this;
                var tr = that.elemList.find('tr#upload-' + index);
                var tds = tr.children();
                // 显示重传
                tds.eq(3).find('.demo-reload').removeClass('layui-hide');
            },
            progress: function (n, elem, e, index) { // 注意：index 参数为 layui 2.6.6 新增
                element.progress('progress-demo-' + index, n + '%'); // 执行进度条。n 即为返回的进度百分比
            }
        });


        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '导入虚拟机台账信息'
            }, {
                title: '确认入库虚拟机信息'
            }, {
                title: '完成'
            }]
        });


        form.on('submit(formStep)', function (data) {
            step.next('#stepForm');
            return false;
        });

        form.on('submit(formStep2)', function (data) {
            step.next('#stepForm');
            return false;
        });

        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });
    });
</script>
</body>
</html>